{% extends "orders/layout.html" %}
{% load staticfiles %}

{% block title %}Order pizza!{% endblock %}

{% block content %}
<h1>Welcome to Order Pizza!</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim commodo varius. Mauris eu sem semper, eleifend sem a, suscipit sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque nec lacinia velit. Praesent rhoncus elementum pellentesque. Fusce bibendum fringilla mauris, a consequat nisi elementum in. Nam ut augue et massa accumsan egestas vitae a nibh. Vestibulum sit amet commodo nisl. Vestibulum vitae mi sed mi bibendum euismod. Phasellus pretium urna vel luctus convallis. Aenean porta diam id ante placerat posuere. Quisque mattis nibh et massa viverra, vitae varius orci placerat. Fusce porta, tortor sed tincidunt mattis, neque risus semper eros, nec accumsan orci orci blandit nisl. </p>

<p>Quisque nec vehicula tortor, sit amet pulvinar est. Proin eget tortor nibh. Vestibulum at molestie mi. Vivamus sit amet condimentum enim, at faucibus risus. Quisque tincidunt faucibus semper. Sed varius ac felis scelerisque eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque, dolor vel efficitur euismod, arcu lorem laoreet eros, at faucibus mi tellus sit amet ligula. Cras aliquam dui sit amet lectus rhoncus maximus nec non metus. Aenean eu ex lorem. Aenean id orci id elit finibus malesuada eget non libero. Vestibulum ullamcorper dolor vel orci condimentum volutpat. Nunc dictum convallis nisi. Maecenas id elit in lacus condimentum euismod. Donec rutrum pharetra augue. Nullam nec augue in diam tincidunt maximus. </p>
{% endblock %}
