{% extends "orders/layout.html" %}

{% block title %} Menu {% endblock %}
{% block content %}
<h1>Menu</h1>
<table class="menu">
  <tr>
    <th>Pizza</th>
    <th>Price</th>
    <th>Size</th>
    <th>Toppings</th>
  </tr>
  {% for pizza in pizzas %}
    <tr>
      <td><a href="{{ pizza.get_absolute_url }}"> {{ pizza.name }}</a></td>
      <td>{{ pizza.price }}</td>
      <td>{{ pizza.size }}</td>
      <td>
        {% for t in pizza.toppings.all %}
        {{ t.name }},
        {% endfor %}
      </td>
    </tr>

    {% endfor %}
</table>

{% endblock %}
